<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Data Source=DESKTOP-MMVJJUN\SQLEXPRESS;Initial Catalog=MagazinMercerie;Integrated Security=True"/>
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="ParentTableName" value="Biblioteca"/>
		<add key="ChildTableName" value="Raft"/>
		<add key="ChildNumberOfColumns" value="6"/>
		<add key="ChildColumnNames" value="Capacitate,Culoare,Lungime,Latime,Grosime,Bid"/>
		<add key="ColumnNamesInsertParameters" value="@Capacitate,@Culoare,@Lungime,@Latime,@Grosime,@Bid"/>
		<add key="ColumnNamesUpdateParameters" value="@Capacitate,@Culoare,@Lungime,@Latime,@Grosime"/>
		<add key="ColumnNamesDeleteParameters" value="@Rid"/>
		<add key="ChildForeignKey" value="Bid"/>
		<add key="ChildPrimaryKey" value="Rid"/>
		<add key="InsertQuery" value="INSERT INTO Raft (Capacitate, Culoare, Lungime, Latime, Grosime, Bid) VALUES (@Capacitate, @Culoare, @Lungime, @Latime, @Grosime, @Bid)"/>
		<add key="UpdateQuery" value="UPDATE Raft SET Capacitate = @Capacitate, Culoare = @Culoare, Lungime = @Lungime, Latime = @Latime, Grosime = @Grosime WHERE Rid = @Rid"/>
		<add key="DeleteQuery" value="DELETE FROM Raft WHERE Rid = @Rid"/>

		<add key="SelectParentTable" value="SELECT * FROM Biblioteca"/>
		<add key="SelectChildTable" value="SELECT * FROM Raft"/>
	</appSettings>
</configuration>